<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>
<body>
    <header>
        StoreApp : Header
        <partial name="_Navbar"></partial>
        @RenderSection("Header", required: false)
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        StoreApp : Footer
        @RenderSection("Footer", required: false)
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>