@model Product

<div>
    <h3>@Model.ProductName</h3>
    <p>@Model.Price.ToString("c")</p>
    <p>
        <a asp-controller="Product" asp-action="Get" asp-route-id="@Model.Id">Get Details</a>
    </p>
    <hr />
</div>