@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}

@section Footer
{
    <p>StoreApp : Product Footer</p>
}

@foreach(var product in Model)
{
    <partial name="_ProductCard" model="@product" />
}