@using StoreApp.Domain.Entities
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Layout";
}

@section Footer
{
    <p>StoreApp : Product Footer</p>
}

@foreach(var product in Model)
{
    <div>
        <h3>@product.ProductName</h3>
        <p>@product.Price</p>
        <p>
            <a href="/Product/Get/@product.Id">Get Details</a>
        </p>
    </div>
}